@using Meal_planner.ViewModels;
@model AddRecipeViewModel;

<h1> Add Recipe</h1>

<form method="post">
    <div asp-controller="Recipes" asp-action="Add" class="form-group">
        <label asp-for="Name">Name of Recipe:</label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div asp-controller="Recipes" asp-action="Add" class="form-group">
        <label asp-for="Description">Description:</label><br />
        <select name="Description">
            <option value=''>Select a Meal Time.</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Snack">Snack</option>
        </select>
        <span asp-validation-for="Description"> </span>
    </div>


    <div class="form-group">
        <label for="ingredients">Ingredients:</label><br />
        <a class="nav-link text-dark" asp-area="" asp-controller="Ingredient" asp-action="Index">Select Ingredients</a>
    </div>
    <div asp-controller="Recipes" asp-action="Add" class="form-group">
        <label asp-for="Instructions">Instructions:</label><br />
        <textarea asp-for="Instructions" name="Instructions" rows="9" cols="70"> </textarea>
        <span asp-validation-for="Instructions"></span>
    </div>


    <div class="form-group">
        <label for="photo">Photo(optional):</label><br />
        <input photo="photo" type="file" /><br /><br />

        <input type="submit" value="Add Recipe" />
    </div>


</form>