@model Meal_planner.ViewModels.RecipeDetailViewModel


<h1>Recipe: Name</h1>

<div>
    <p>Name: @Model.Name</p>
    <p>Ingredients: @Model.Ingredients</p>
    <p>Instructions: @Model.Instructions</p>
</div>
