@model Meal_planner.ViewModels.EditRecipeViewModel


    <h1>Recipe: @Model.Name</h1>

    <table class="table">
        <tr>
            <th>Category</th>
            <td>@Model.Category</td>
        </tr>
        <tr>
            <th>Ingredients</th>
            <td>@Model.Ingredients</td>
        </tr>
        


</table>

    <input type="submit" value="Edit Recipe" />