<h1>Recipes</h1>

<p>
    <a asp-controller="Recipes" asp-action="Add"> Add Recipe</a>
</p>


@if (ViewBag.recipes.Count == 0)
{
    <p>No Recipes Yet!</p>
} else
{
    <table class="table">
        <tr>
            <th> Name</th>
            <th> Description</th>
        </tr>
        @foreach (var recipe in ViewBag.recipes)
        {
            <tr>
                <td> @recipe.Name</td>
                <td> @recipe.Description</td>
            </tr>
        }
    </table>
}

