@model List<Meal_planner.Models.Recipe>



<h1>Recipes</h1>


    <div>
        <ul>
            @foreach (Recipe recipe in Model)
            {
                <li>
                    <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.Id">@recipe.Name</a>
                </li>
            }
        </ul>
    </div>
