@model List<Meal_planner.Models.Ingredient>

<h1>Ingredients</h1>

<p><a asp-controller="Ingredient" asp-action="Add">Add an Ingredient</a></p>

@if (Model.Count == 0)
{
    <p>No Ingredients are currently listed!</p>
}
else
{
    <div>
        <ul>
            @foreach (Ingredient ingredient in Model)
            {
                <li>
                    <a asp-controller="Ingredient" asp-action="Index" asp-route-id="@ingredient.Id">@ingredient.Name</a>
                </li>
            }
        </ul>
    </div>
}



